<header>
    
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/restaurantes'>Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "routerLinkActive="active" routerLink='/diversao'>Diversão</a>
        </li>
      </ul>
          <div class="col-md-6">
        
              <input class="form-control mr-sm-2"
              type="text" placeholder="Pesquisa sua oferta" 
              aria-label="Search"
              #referencia
              (keyup)="pesquisa(referencia.value)"
              >
              <ul class="list-group" style="position:absolute; z-index:999">
              <li class="list-group-item" *ngFor="let oferta of ofertas | async">
                <a [routerLink]="['/oferta',oferta.id]" (click)="limparPesquisa()">
                    {{oferta.titulo |uppercase}}
                </a> 
              </li>
              
              </ul>
          </div>
          <div class="col-md-6">
              <a routerLink="/ordem-compra" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fa fa-cart-arrow-down" aria-hidden="true">Carrinho de compras</i>
              </a>
          </div>

          <div class="col-md-3">
            <p style="color:white">{{data |date:'dd/MM/yyy HH:mm'}}</p>
        </div>
      </div>
        
       
    </div>

    
  </nav>
</header>

